
@font-face{
	font-family: "YellowMagician";
	src:url("font/YellowMagician.ttf");
	font-family: "sprat";
	src:url("Sprat_Variable.ttf"),
	url("Sprat-CondensedBold.otf");
	font-weight: normal;
	font-style: bold;
}
table
{
	border-collapse: collapse;
}
th

{
	font-family: "YellowMagician";
	border: solid 1px blue;
	width: 50px;
	padding: 10px;

}

tr td
{
	font-family: "YellowMagician";
	border: solid 2px black;
	width: 5Opx;
	text-align: center;
	padding: 20px;

}

caption
{
	box-shadow: 3px 3px 1px;
	font-weight: bold;
	padding: 10px;
	caption-side: bottom;
}


p {

	margin-bottom: 20px;
}
p {
	margin-top: 30px; /* une marge haute sur le second paragraphe */
}
a[href$="pdf"]:after {
	content: " (" attr(title) ")";
	font-style: italic;
}
#parag
{
	column-count: 3;
	column-gap: 10px;
	column-rule: 1px solid #ccc;
	break-inside: avoid; /* pas de saut de colonne au sein des paragraphes */
word-wrap: break-word; /* césure des mots longs */
font-smoothing:normal;
text-align: justify;
}
h1
{
	float: left;
	margin: 5%;
	padding: 2%;
	font-family: "sprat";
	border: solid;
	border-color: maroon;
	border-radius: 15px 0 10px 0;
}
em
{
	font-weight: bold;
	color: blue;
}