
@font-face
{
	font-family: 'sprat';
	src:url('Sprat_Variable.ttf'),
	url('Sprat-CondensedBold.otf');
	font-family: 'whitrabt';
	src:url('whitrabt.ttf');
	font-weight: normal;
	font-style: normal;
}
table
{
	border-collapse: separate;
	font-family: tahoma;
	border: solid 2px black;
	border-spacing: 2px;
	width: auto;
	margin: auto;
	text-align: center;
	padding: 10px;
}
td,tr,th
{
	border: solid 2px black;
}

caption
{
	box-shadow: 3px 3px 1px 1px;
	border-radius: 15px 10px 10px 10px;
	font-weight: bold;
	padding: 10px;
	caption-side: bottom;
	text-shadow: 2px 2px 4px #999;
	background-color: silver;
}


p {
	font-family: verdana;
	margin-bottom: 20px;

	margin-top: 30px; /* une marge haute sur le second paragraphe */
}
a[href$="pdf"]:after 
{
	content: " (" attr(title) ")";
	font-style: italic;
}
#parag
{
	column-count: 3;
	column-gap: 10px;
	column-rule: 1px solid black;
	/*break-inside: avoid; /* pas de saut de colonne au sein des paragraphes */
	/*word-wrap: break-word; /* césure des mots longs */
	/*font-smoothing:subpixel-antialiased;*/
	text-align: justify;
	background-color: rgba(0,0,100,0.2);
	border-width: 7px 7px 16px 7px;
	border-image: 7 7 16 7 stretch;
	border-radius: 15px 0 10px 0; 
	box-shadow: 7px 7px 4px rgba(0,0,0,0.5) ;
	font-family: tahoma;
	padding: 3%;
	margin: 5%;
}
h1
{
	float: left;
	margin: 5%;
	padding: 2%;
	font-family: verdana,serif;
	border: solid;
	border-color: maroon;
	border-radius: 15px 0 10px 0;
	box-shadow: 8px 8px 8px rgba(0,0,0,0.5) inset;
}
em
{	
	font-family: verdana;
	font-weight: bold;
	color: blue;
}
#img
{
	background: url("photo1.jpg") left top no-repeat;
	background-size: 50% auto;

}
th
{
	background-color: gray;
}
.partie
{

	border:solid black;
	position: absolute;
	left: 3%;
	top: 203%;
	text-align: justify;
	font-family: tahoma;	
	width: 80%;
	padding:1%;
	background-image: url(fond_jaune.png);
	border-radius:20px 0px 20px 0px ;
	box-shadow: 8px 8px 8px darkkhaki;
	filter: drop-shadow(5px 10px 2px #ccc);
	margin: 9%;
}
h2
{
	float: left;
	width: 17%;
	padding: 1%;
	font-family: verdana,serif;
	border:outset;
	border-color: maroon;
	border-radius: 15px 0 10px 0;
	box-shadow: 8px 8px 8px rgba(0,0,0,0.5) inset;	
}
img
{
	display: flex;
	margin: 1%;
	position: relative;
	bottom: 25px;
	left: 95px;
}
.révélation
{
	position: absolute;
	top: 310%;
	text-align: justify;
	font-family: tahoma;	
	width: 80%;
	padding:1%;
	margin-left: 11%;
	border : solid;
	box-shadow: 5px 5px 5px rgba(1,1,1,0.4);
	border-radius: 20px 0px 15px 0px;	
}
h3
{
	width: 23%;
	padding: 2%;
	font-family: verdana;
	border:groove;
	border-color: maroon;
	border-radius: 15px 0 10px 0;
	box-shadow: 8px 8px 8px rgba(0,0,0,0.5) inset;

}
img
{
	float: right;
	margin-right: 9%;
}